<div class="container">
    <div class="row">
        <!-- Profile Div -->
        <div class="profile-card col-12 col-lg-4">
            <div class="col-12">
                <div class="row">
                    <div class="card col-12">
                        <div class="row pt-1">
                            <!-- Image -->
                            <div class="col-4 col-md-4 pr-0">
                                <img src="/images/perfil.jpg" alt="" class="hero-img">
                            </div>
                            <!-- Name and Subs -->
                            <div class="col-8 col-md-8">
                                <h2>Ammar Abdul Aziz</h2>
                                <div class="v-start">
                                    <i class="fa fa-user pr-2 pt-1" aria-hidden="true"></i>
                                    <h5>Patient</h5>
                                </div>
                            </div>
                        </div>
                        <!-- Contact Icons -->

                        <div class="row details">
                            <div class="col-12 detail-1">
                                <i class="fa fa-phone pl-1" aria-hidden="true"></i>
                                <a href="#" class="pl-1 ml-3">+91 9846704120</a>
                            </div>
                            <div class="col-12 detail-2 pt-3">
                                <i class="fa fa-envelope" aria-hidden="true"></i>
                                <a href="#" class="pl-1 ml-3">ammarabz10@gmail.com</a>
                            </div>
                            <div class="col-12 detail-3 pt-3">
                                <i class="fa fa-map-marker pl-1" aria-hidden="true"></i>
                                <a href="#" class="pl-2 ml-3">Mahe, India</a>
                            </div>
                        </div>
                        <!-- Btn and Review -->
                        <div class="col-12">
                            <a href="edit-profile" class="btn btn-blue-outline">Edit Profile</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab col-12 col-lg-8">
            <!-- Tab Head Div -->
            <div class="tab-head card mb-3 col-12  mt-4">
                <div class="tab-menu">
                    <li id="app-tab" class="active"><a href="#">Appointments</a></li>
                    <li id="req-tab"><a href="#">Requests</a></li>
                    <li id="res-tab"><a href="#">Results</a></li>
                </div>
            </div>
            <!-- Tab content div -->
            <div id="appointments" class="app-tab">
                <div class="tab-content card col-12">
                    <div class="row tab-content-head">
                        <h2>Appointments</h2>
                        <a href="/book-appointment" class="btn btn-white">Book Now</a>
                    </div>
                    <div class="row hr"></div>
                </div>
                <div class="card3 mb-5 pb-3">
                    <!-- appointment -->
                    <div class="tab-content col-12 appointment v-center">
                        <div class="tab-img v-center pr-5 pr-lg-0">
                            <img src="/images/perfil.jpg" alt="" class="hero-img ">
                            <div class="img-name">
                                <h4>Dr. Alexndro Zignee</h4>
                                <h6>Endodentist</h6>
                            </div>
                        </div>

                        <div class="tab-img v-center pr-5 pr-lg-0">
                            <div class="img-name">
                                <h4>Ammar Abdul Aziz</h4>
                                <h6>Booking For</h6>
                            </div>
                        </div>

                        <div class="tab-img v-center pr-3 pr-lg-0">
                            <div class="img-name">
                                <h4>22/12/2020 3:00 PM</h4>
                                <h6>Session</h6>
                            </div>
                        </div>

                        <div class="pr-3">
                            <i class='bx bx-dots-vertical-rounded opt-icon' id="opt-icon"></i>
                            <div class="options-box" id="options-box">
                                <h6>Cancel</h6>
                            </div>
                        </div>
                    </div>
                    <!-- --------- -->
                    <div class="tab-content col-12 appointment v-center">
                        <div class="tab-img v-center pr-5 pr-lg-0">
                            <img src="/images/perfil.jpg" alt="" class="hero-img">
                            <div class="img-name">
                                <h4>Dr. Alexndro Zignee</h4>
                                <h6>Endodentist</h6>
                            </div>
                        </div>

                        <div class="tab-img v-center pr-5 pr-lg-0">
                            <div class="img-name">
                                <h4>Ammar Abdul Aziz</h4>
                                <h6>Booking For</h6>
                            </div>
                        </div>

                        <div class="tab-img v-center pr-3 pr-lg-0">
                            <div class="img-name">
                                <h4>22/12/2020 3:00 PM</h4>
                                <h6>Session</h6>
                            </div>
                        </div>

                        <div class="pr-3">
                            <i class='bx bx-dots-vertical-rounded opt-icon' id="opt-icon"></i>
                            <div class="options-box" id="options-box">
                                <h6>Cancel</h6>
                            </div>
                        </div>
                    </div>
                    <!-- --------- -->
                </div>
            </div>
            <!-- </div> -->
            <!-- Tab content div -->
            <div id="requests" class="req-tab">
                <div class="tab-content card col-12">
                    <div class="row tab-content-head">
                        <h2>Requests</h2>
                    </div>
                    <div class="row hr"></div>
                </div>
                <div class="card3 mb-5 pb-3">
                    <!-- appointment -->
                    {{#each appointments}}
                    <div class="tab-content col-12 appointment v-center">
                        <div class="tab-img d-flex align-items-center">
                            <img src="/images/{{this.doctor._id}}.jpg" alt="image" class="hero-img ">
                            <div class="img-name">
                                <h4>Dr. {{this.doctor.firstname}} {{this.doctor.lastname}}</h4>
                                <h6>{{this.doctor.speciality}}</h6>
                            </div>
                        </div>

                        <div class="tab-img d-flex">
                            <div class="img-name">
                                <h4>{{this.fname}} {{this.lname}}</h4>
                                <h6>Booking For</h6>
                            </div>
                        </div>

                        <div class="tab-img d-flex">
                            <div class="img-name">
                                <h4>{{this.date}} {{this.time}}</h4>
                                <h6>Session</h6>
                            </div>
                        </div>

                        <div class="pr-3 d-flex justify-content-end">
                            <i class='bx bx-dots-vertical-rounded opt-icon' id="opt-icon"></i>
                            <div class="options-box" id="options-box">
                                <h6 data-id="{{this._id}}">Cancel</h6>
                            </div>
                        </div>
                    </div>
                    {{/each}}
                    <!-- --------- -->
                </div>
            </div>
            <!-- </div> -->
            <!-- Tab content div -->
            <div id="results" class="res-tab">
                <div class="tab-content card col-12">
                    <div class="row tab-content-head">
                        <h2>Cancelled</h2>
                    </div>
                    <div class="row hr"></div>
                </div>
                <div class="card3 mb-5 pb-3">
                    <!-- appointment -->
                    <div class="tab-content col-12 appointment v-center">
                        <div class="tab-img v-center pr-5 pr-lg-0">
                            <img src="/images/perfil.jpg" alt="" class="hero-img ">
                            <div class="img-name">
                                <h4>Dr. Alexndro Zignee</h4>
                                <h6>Endodentist</h6>
                            </div>
                        </div>

                        <div class="tab-img v-center pr-5 pr-lg-0">
                            <div class="img-name">
                                <h4>Ammar Abdul Aziz</h4>
                                <h6>Booking For</h6>
                            </div>
                        </div>

                        <div class="tab-img v-center pr-3 pr-lg-0">
                            <div class="img-name">
                                <h4>22/12/2020 3:00 PM</h4>
                                <h6>Session</h6>
                            </div>
                        </div>

                        <div class="pr-3">
                            <i class='bx bx-dots-vertical-rounded opt-icon' id="opt-icon"></i>
                            <div class="options-box" id="options-box">
                                <h6>Cancel</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- </div> -->
        </div>
    </div>
    <div style="height: 18em;"></div>
</div>